In [1]:
import sqlite3
import pandas as pd

In [2]:
# Read CSV files to a pandas dataframe
zip_income_df = pd.read_csv('resources\miami_info.csv')
restaurants_df = pd.read_csv('resources\map_locations.csv')

In [3]:
# Clean zip_income_df to include just the columns needed for database
zip_income_df = zip_income_df[['Zipcode', 'Median_income']]
zip_income_df.head()

   Zipcode Median_income
0    33128       $25,984
1    33136       $30,036
2    33142       $30,915
3    33135       $32,460
4    33125       $33,172

In [4]:
restaurants_df.head()

,properties.address_line1,properties.address_line2,properties.categories
0,Mario the Baker Pizza,"43 West Flagler Street, Miami, FL 33128, Unite...","['catering', 'catering.restaurant', 'catering...."
1,Jimmy John's,"45 West Flagler Street, Miami, FL 33128, Unite...","['catering', 'catering.fast_food', 'catering.f..."
2,Cane A Sucre,"Northwest Miami Court, Miami, FL 33128, United...","['catering', 'catering.fast_food', 'catering.f..."
3,Motek - Mediterranean Cafe & Restaurant,"36 Northeast 1st Street, Miami, FL 33132, Unit...","['catering', 'catering.restaurant', 'catering...."
4,Amarres de amor Florida,"43 Northeast 1st Street, Miami, FL 33132, Unit...","['catering', 'catering.restaurant']"

In [5]:
# Create an empty list to store cleaned up category names
new_category = []

# Loop through the categories
for item in restaurants_df['properties.categories']:
    # Reads the category and stores 'Restaurant', 'Fast Food', or 'Grocery Store' in new_category list
    if 'catering.restaurant' in item:
        new_category.append('Restaurant')
    if 'catering.fast_food' in item:
        new_category.append('Fast Food')
    if 'commercial.supermarket' in item:
        new_category.append('Grocery Store')

In [6]:
new_category

['Restaurant',
 'Fast Food',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Grocery Store',
 'Fast Food',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Grocery Store',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Grocery Store',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Grocery Store',
 'Grocery Store',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Grocery Store',
 'Restaurant',
 'Restaurant',
 'Grocery Store',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Fast Food',
 'Fast Food',
 'Grocery Store',
 'Grocery Store',
 'Restaurant',
 'Fast Food',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Grocery Store',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Grocery Store',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Fast Food',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Grocery Store',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Grocery Store',
 'Restaurant',
 'Fast Food',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Fast Food',
 'Fast Food',
 'Fast Food',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Fast Food',
 'Restaurant',
 'Grocery Store']

In [7]:
# Create a new column in dataframe with cleaned category
restaurants_df['Category'] = new_category

In [8]:
# Renames columns
restaurants_df.rename(columns={
    'properties.address_line1' : 'Name',
    'properties.address_line2' : 'Address',
}, inplace=True)

# removes the old categories column
restaurants_df = restaurants_df[['Name', 'Address', 'Category']]

In [9]:
restaurants_df.head()

,Name,Address,Category
0,Mario the Baker Pizza,"43 West Flagler Street, Miami, FL 33128, Unite...",Restaurant
1,Jimmy John's,"45 West Flagler Street, Miami, FL 33128, Unite...",Fast Food
2,Cane A Sucre,"Northwest Miami Court, Miami, FL 33128, United...",Fast Food
3,Motek - Mediterranean Cafe & Restaurant,"36 Northeast 1st Street, Miami, FL 33132, Unit...",Restaurant
4,Amarres de amor Florida,"43 Northeast 1st Street, Miami, FL 33132, Unit...",Restaurant

In [10]:
# Create connections to SQLite database
connection = sqlite3.connect('miami.sqlite')

# Load zip_income_df and restaurant_df to SQLite
zip_income_df.to_sql('zip_income', connection, if_exists='replace')
restaurants_df.to_sql('restaurants', connection, if_exists='replace')

241

In [11]:
# Close Connection
connection.close()